.register{
    margin-left: 10px;
    display: inline-block;
    background-color: #D8D8D8;	
    border-radius: 10px;
    padding: 10px 14px 15px 20px;
    margin-top: 70px;
}
.login{
    margin-left: 50px;
    display: inline-block;
    background: #D8D8D8;
    border-radius: 10px;
    padding: 10px 14px 15px 20px;
    vertical-align: top;
    margin-top: 70px;
}
.btn{
    margin-top: 10px;
}
.content{
    width: 700px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px 0 100px 80px;
    padding: 0 0 50px 120px;
}
