/* HOME II */
#main_container{
	background: url("/assets/images/bike.png");
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
	width: 100%;
	min-height: 600px;
	margin: auto;
}
.row{
	width: 800px;
	display: inline-block;
	margin: 0 auto;
	margin-top: 10px;
	/* Center this div */
}
#row_1{
	margin-top: 200px;
}
#row_2{
	margin-bottom: 100px;
}
.row img{
	border: 1px solid gray;
/*	margin: 0 auto;*/
}
.content{
	padding-top: 100px;
	margin: auto;
	width: 70%;
	height: 200px;
}
.dropdown{
	/*width: 15%;*/
	/*height: 300px;*/
	margin: 1em auto;
}
.btn{
	width: 180px;
}



/**/