/* HOME II */
#homeii_container{
	margin: 0 auto;
	float: none;
	/*margin: 20px 0 100px 0;*/
	min-height: 600px;
	padding: 30px 80px 0 80px;
}
.row{
	width: 800px;
	display: inline-block;
	margin: 0 auto;
	margin-top: 10px;
	/* Center this div */
}
.row img{
	border: 1px solid gray;
/*	margin: 0 auto;*/
}
#home_content{
	width: 800px;
	height: 200px;
	margin: 0 auto;
	margin: 30px 0 100px 0;
}
.dropdown{
	/*width: 15%;*/
	/*height: 300px;*/
	margin: 1em auto;
}
.btn{
	width: 180px;
}
.content{
	margin: auto;
}


/**/