/*GENERAL STYLING FOR ALL PAGES*/

/*.container{
	margin: auto;
	background: url("assets/images/bike.png");
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
}*/
/*
body{
	background: url("assets/images/bike.png");
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
}*/

/* LOGIN_REG_PAGE */

.login_content{
	margin: auto;
	border: 1px solid black;
}
#main_container{
	background: url("/assets/images/bike.png");
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:center;
	width: 800px;
	margin: auto;
}
.subcontainer h3{
	color: #0052cc;
}
#login{
	display: inline-block;
	vertical-align: top;
	margin-left: 12%;
}

#register{
	display: inline-block;
	vertical-align: top;
	margin-left: 17%;
}


<<<<<<< Updated upstream
/* LISTINGS */
=======

/*LISTINGS*/
>>>>>>> Stashed changes
.subcontainer{
	margin: auto;
	margin-top: 20px;
	width: 900px;
	min-height: 300px;
	padding: 10px 30px 30px 30px;
}
#register{
	
}


/* ITEM_PAGE */
#item_container{
	margin: auto;
	margin-top: 20px;
	width: 900px;
	min-height: 300px;
	padding: 10px 30px 30px 30px;
}


/* CREATE_LISTING */
#search_inputs{
	margin-top: 20px;
	width: 600px;
	float: left;
	margin-left: 120px;
}

#upload_image{
	margin: 10px 0 10px 0;
}


/* ABOUT */
#about_container{
	margin: auto;
	margin-top: 10px;
	min-height: 300px;
	padding: 30px 0 0 80px;
}
#content_container{
	margin: auto;
	width: 800px;
}
.about_text{
	width: 250px;
	display: inline-block;
	vertical-align: top;
}
.portrait{
	width: 400px;
	display: inline-block;
	margin-left: 90px;
}
.portrait img{
	margin: 10px 20px 10px 20px;
}
.about_portrait{
	width: 150px;
	height: 150px;
}


/* CONTACT_US */
#contact_container{
	margin: auto;
	margin-top: 20px;
	width: 900px;
	min-height: 300px;
	padding: 30px 0 0 80px;
}
.contact_text{
	width: 300px;
	min-height: 400px;
}


/* HOME */
#home_search{
	width: 400px;
	margin: auto;
	padding: 110px 0 100px 0;
}
#home_btn{
	margin: 20px 0 0 160px; 
}
#home_btn2{
	margin: 20px 0 0 90px;
}
#home_content{
	margin-top: 30px;
}

